{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> RaiCorp | Home </title>
{% endblock title %}

{% block content %}
<div class="container text-center mt-4">
  {% include '_messages.html' %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/main_slider.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>


    <div class="row">
        <div class="col-md-6 d-grid gap-2">
            <a href="{% url 'users:login'%}" class="btn btn-secondary">Sign In</a>
        </div>
        <div class="col-md-6 d-grid gap-2">
            <a href="{% url 'users:registeruser' %}" class="btn btn-primary btn-block">Sign Up</a>
        </div>
    </div>
    <div id="samaya" class="text-center bg bg-info p-4 mt-3"></div>
</div>
<script>
    var dt = new Date()
    document.getElementById('samaya').innerHTML = dt.toLocaleString();
</script>
{% endblock content %}