<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">RaiCorp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'todohome' %}">Todo</a>
        </li>
        {% endif %}
      </ul>
      
      <div style="margin-right: 10px;">
        <div class="dropdown">
          <p class="text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Settings</p>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'users:login' %}">Login</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'users:registeruser'%}">Register</a></li>
            {% endif %}
            
          </ul>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="text-secondary">Welcome, {{request.user}}</div>
      {% endif %}
    </div>
  </div>
</nav>