{% extends 'base.html' %}
{% block title %}
<title>RaiCorp Todo | Home</title>
{% endblock title %}

{% block content %}
<div class="container mt-3">
  <a href="{% url 'todoadd' %}" class="m-2 btn btn-primary">Add a todo</a>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tasks</th>
        <th scope="col">Date Created</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.created_at}}</td>
        <td>
          <a href="#" class="btn btn-info">Edit</a>
          <!-- Button trigger modal -->
          <button type="button" type="button" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#todoModal">Delete</button>
          <a href="#" class="btn btn-success">Complete</a>
        </td>
      </tr>
      <!-- Modal -->
      <div class="modal fade" id="todoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger" id="todoModalLabel">Heads up!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure to delete {{todo.title}}?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <a href="{% url 'tododelete' todo.id %}" class="btn btn-primary">Confirm</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}